.jumbotron {
  background-image:url('http://kids.nationalgeographic.com/content/dam/kids/photos/animals/Birds/H-P/peregrine-falcon-wings-extended.jpg');
  height: 800px;
  width: 1920px;
  position: middle;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}
